#ngw-entry-content #form-wrapper {
  width: 65% !important;
  margin: 20px auto;
  float:none;
}

#ngw-entry-content {
  width: inherit !important;
}

#flash {
  width: 65% !important;
  margin: 20px auto;
  padding: 4px;
  background-color: #ffd370;
  text-align: center;
}
